<div class="social-icon-list">
  <a href="//github.com/{{ site.author.github }}" target="_blank">
    <img class="social-icon" src="/assets/img/social/github.svg" />
  </a>
  <a href="//twitter.com/{{ site.author.twitter }}" target="_blank">
    <img class="social-icon" src="/assets/img/social/twitter.svg" />
  </a>
  <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
    <img class="social-icon" src="/assets/img/social/linkedin.svg" />
  </a>
  <a href="//youtube.com/channel/{{ site.author.youtube }}?sub_confirmation=1" target="_blank">
    <img class="social-icon" src="/assets/img/social/youtube.svg" />
  </a>
</div>
